@import "../../assets/css/fonction.scss";

#ol {
  background: #f5f5f5;
  .head {
    position: relative;
    .button {
      position: absolute;
      width: rem(65);
      height: rem(24);

      right: rem(18);
      top: rem(13);
      img {
        width: 100%;
      }
    }
  }

  .content {
    padding: 0 rem(15);
  }

  .select {
    display: flex;
    height: rem(34);
    align-items: center;
    .centerLine {
      font-size: rem(18);
      color: #ED171F;
      display: inline-block;
    }
    .column {
      flex: 1;

      .time {
        height: rem(15);
        line-height: rem(15);
        text-align: center;
      }

      .yd-datetime-input {
        color: red !important;
        font-size: rem(15);
        letter-spacing: rem(0.6);
        line-height: rem(15);
      }

      img {
        width: rem(13);
        height: rem(14);
      }

    }

  }


  .mainContent{
    background: #ffffff;
    width: rem(339);
    height: rem(400);
    margin-top: rem(23);
    border-radius: rem(12);
    overflow-y: auto;

    .record{

      padding: 0 rem(12);
      .recordWarp{
        display: flex;
        height: rem(58);
        //border-bottom: 1px solid #c6c6c6;

        label{
          display: block;
        }

        .week{
          width: rem(36);
          letter-spacing: rem(1.33);
          text-align: center;

          .font1{
            font-size: rem(12);
            color: #333333;
            //text-align: center;
            line-height: rem(12);
            padding-top: rem(14);
          }

          .font2{
            font-size: rem(8);
            color: #3F3F3F;
            line-height: rem(10);
          }

        }
        .typeIcon{
          width: rem(24);
          i{
            display: inline-block;
            width: 100%;
            height: rem(58);
          }
          .Artboard1{
            background-image: url("../../assets/img/Artboard1.png");
            background-size: cover;
          }
          .Artboard2{
            background-image: url("../../assets/img/Artboard2.png");
            background-size: cover;
          }
          .Artboard3{
            background-image: url("../../assets/img/Artboard3.png");
            background-size: cover;
          }
          .Artboard4{
            background-image: url("../../assets/img/Artboard4.png");
            background-size: cover;
          }
          .Artboard5{
            background-image: url("../../assets/img/Artboard5.png");
            background-size: cover;
          }
        }

        .recordContent{
          flex: 1;
          padding-left: rem(9);
          padding-top: rem(14);

          .font1{
            font-size: rem(14);
            color: #333333;
            letter-spacing: rem(0.6);
            line-height: rem(14);
          }
          .font2{
            margin-top: rem(8);
            font-size: rem(12);
            color: #666666;
            letter-spacing: rem(0.6);
            line-height: rem(12);
          }
        }

        .recordMoney{
          text-align: right;
          width: rem(60);
          padding-top: rem(14);

          .font1{
            font-size: rem(14);
            color: #69B076;
            line-height: rem(14);
          }
          .font2{
            font-size: rem(12);
            color: #999999;
            letter-spacing: rem(0.6);
            line-height: rem(12);
            margin-top: rem(12);
          }
        }
      }





    }

  }
}
